############################################################
# Config dir
.goapptrace/


############################################################
# Go

# Binaries for programs and plugins
goapptrace
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/


############################################################
# Node
static/node_modules/


############################################################
# Node
static/.gem/


############################################################
# SASS
static/.sass-cache/
static/*.css
static/*.css.map


############################################################
# TypeScript
static/*.js
static/*.js.map
